@charset "UTF-8";
@import './base.css';
aside form {
  border: 1px solid var(--primary-color);
  border-radius: var(--border-radius-primary);
  padding: 24px;
}

.header {
  margin-top: 30px;
  padding: 11px 0;
}

input:focus-visible,
select:focus-visible,
textarea:focus-visible {
  outline: 2px solid var(--primary-color);
}

.container {
  margin: 0 auto;
  padding: 0 12px;
  max-width: 1286px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 32px;
}
.header__nav-group nav {
  width: 100%;
  text-align: center;
  font-size: 12px;
}

nav a.router-link-exact-active {
  border-bottom: 2px solid var(--primary-color);
}

nav a.router-link-exact-active:hover {
  background-color: transparent;
}

nav a {
  display: inline-block;
  padding: 0 1rem;
}

nav a:hover {
  opacity: 0.75;
}

.input {
  display: block;
  margin: 0px;
  border: 1px solid lightgray;
  border-radius: 6px;
  padding: 6px 8px;
  width: 100%;
  line-height: 1.5rem;
}

.btn {
  display: block;
  border-radius: var(--border-radius-secondary);
  padding: 9px 12px;
  color: #000;
  font-weight: 600;
  border: 2px solid;
  line-height: 1.5;
  font-size: 14px;
}

.btn-icon {
  height: 16px;
  width: 16px;
  padding: 0;
  border: none;
  background-color: transparent;
  line-height: 0;
}

.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn:focus,
.btn:focus-visible {
  background-color: transparent !important;
}

.btn-secondary {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.btn-icon:focus,
.btn-icon:focus-visible {
  outline: 2px solid var(--primary-color);
}

.input-group {
  margin-bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.input-label {
  margin-bottom: 6px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.edit-btn {
  display: inline;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0 auto 24px;
  background: url("../assets/Hero image.jpg"), rgb(155, 155, 155) 90%/contain no-repeat;
  padding: 10px;
  max-width: 100vw;
  height: 200px;
  background-blend-mode: multiply;
}

.hero__text {
  max-width: 80%;
  text-align: center;
  color: #fff;
  font-size: 40px;
}

.hero__title {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}

.planner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px;
}

.planner-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  place-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 12px;
}

.planner__card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-radius: var(--border-radius-primary);
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  background-color: var(--card-background);
  margin: auto;
}

.planner__day-of-week {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border-bottom: var(--border);
  border-radius: var(--border-radius-primary) var(--border-radius-primary) 0px 0px;
  padding: 6px;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
}

.planner__day-of-week h2::first-letter {
  text-transform: capitalize;
}

.planner__meals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.planner__meal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 12px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.planner__meal .card {
  max-width: unset;
}

.planner__title {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}

.today::before {
  content: "Сегодня: ";
}

.planner-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  place-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.control-btn {
  width: 50px;
  line-height: 0;
}

.next {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.next,
.previous {
  height: 40px;
  width: 40px;
}

.page__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 24px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.page__main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  gap: 24px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.new-x-form {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  min-width: 250px;
}

.search__wrapper {
  position: relative;
  background-color: inherit;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.search__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: var(--border-radius-primary);
  background-color: var(--card-background);
  padding: 6px 18px;
  place-items: center;
}

.search-active {
  border-radius: var(--border-radius-primary) var(--border-radius-primary) 0 0;
}

.search__input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: none;
  background-color: transparent;
  padding: 6px;
}

.search__input:focus-visible,
.search__input:active {
  outline: none;
}

.search__btn {
  width: 20px;
  height: 20px;
}

.search__list {
  position: absolute;
  top: 42px;
  z-index: 100;
  border-radius: 0 0 var(--border-radius-primary) var(--border-radius-primary);
  padding: 0;
  margin: 0px;
  width: 100%;
  list-style: none;
  background-color: var(--card-background);
  overflow: hidden;
}

.search__list-item {
  margin: 0;
  padding: 6px 18px;
  width: inherit;
}

.search__list-item:not(:last-child) {
  border-bottom: 1px solid #fff;
}

.search__list-item:hover,
.search__list-item:focus {
  background-color: #fff;
}

.search__list-item :not(:last-child) {
  border-bottom: var(--border);
}

.planner__meal .search__form,
.planner__meal .search__list {
  border: var(--border);
}
.planner__meal .search-active {
  border-bottom: 1px solid #fff;
}
.planner__meal .search__list {
  border-top: 1px solid #fff;
}

footer {
  padding: 24px 0px;
}

.signup-login {
  max-width: 300px;
  margin: auto;
}

.visible-link {
  text-decoration: underline;
}

.bm-menu {
  background-color: #fff !important;
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
}

.burger-nav {
  display: unset !important;
}

.bm-burger-bars {
  color: var(--color-text) !important;
}

.line-style {
  height: 13% !important;
}

.bm-cross {
  width: 1px !important;
  background: var(--color-text) !important;
}

.bm-burger-button {
  position: relative !important;
  top: 0 !important;
  left: 0 !important;
}

.bm-item-list {
  color: unset !important;
  font-size: unset !important;
  padding-right: 12px;
}
.bm-item-list .display-name {
  color: var(--color-text);
  font-weight: normal;
  margin-left: 0px;
}
.bm-item-list .search__wrapper {
  padding: unset !important;
  display: block !important;
}
.bm-item-list > * {
  place-items: center;
}

@media (min-width: 1024px) {
  .logo {
    margin: 0 2rem 0 0;
  }
  .header__nav-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    place-items: flex-start;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  nav {
    padding: 1rem 0;
    text-align: left;
    font-size: 1rem;
  }
}
@media (max-width: 720px) {
  .header__nav-group {
    display: none;
  }
  .hero__text {
    font-size: 30px;
  }
  .planner__card-wrapper {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .page__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    place-content: center;
  }
  .page__main-content {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    place-content: center;
  }
}
@media (min-width: 719px) {
  .burger {
    display: none;
  }
}
@media (max-width: 420px) {
  .hero {
    height: 100px;
  }
  .hero__text {
    font-size: 20px;
  }
  .planner-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .control-previous {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .control-next {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .planner__card-wrapper {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}